

<div style="max-width: 768px; margin: auto">
  <table width="100%" style="padding: 10px;">
      <tbody>
        <tr>
          <td>
            <table width="100%" style="padding: 68px 0px 68px 0px; background-color: rgba(63, 140, 255, 0.1); border-bottom: 4px solid #3F8CFF;" >
              <tbody>
                <tr>
                  <td style="text-align: center;">
                    <!-- <img src="https://lsesp.nyc3.digitaloceanspaces.com/development/uploads/logo/1624522762440_LSETF_NEW_LOGO_UPDATED.png" height="82"> -->
                  </td> 
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="color: #3F8CFF; text-align: center; font-size: 35px; font-weight: bold; padding: 40px 0px 20px 0px;"><%= title %></td>
        </tr>
        <tr>
          <td>
            <table style="max-width: 460px; margin: auto; font-size: 16px; border-bottom: 1px solid #707070; border-top: 1px solid #707070;"">
              <tr>
                <td height="25"></td>
              </tr>
              <tr>
                <td style="font-size: 18px; text-align: center; color: #121212;">
                  Dear, <%= name %> 
                </td>     
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td>
                  <%= message %>.
                </td>    
                
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                  <td>
                      
                    <a href="<%= link %>" style="text-decoration: none;display: block; cursor:pointer; background-color: #3F8CFF; color: white; text-align: center; padding: 10px 0px 10px 0px; font-size: 12px; border-radius: 5px;">
                        RESET PASSWORD
                    </a>
                  </td>
              </tr>

              <tr>
                <td height="20"></td>
              </tr>

              <tr>
                <td>
                    
                  Button not working? Copy link below and paste in your browser
                    
                </td>
            </tr>
            <tr>
                <td>
                  <a href="<%= link%>"><%= link %></a>
                </td>
            </tr>
              <tr>
              <td height="40"></td>
              </tr>
              <tr>
                
              </tr>

              <tr>
                  <td style="font-size: 16px; color: #121212;">
                    <!-- Thank you,<br>
                    LSESP Team -->
                  </td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              
            </table>
          </td>
        </tr>
        <tr>
          <td height="25"></td>
        </tr>
        <tr>
          <td>
            <table width="100%" style="border-bottom: 1px solid #EEE; text-align: center; background: #E2E2E2; min-height: 88px; font-size:12px; font-weight: light;">
              <tbody>
                  <tr>
                    <td>
                      (C) GIFT. All rights reserved
                    </td>
                  </tr>
              </tbody>
            </table>
          </td>
        </tr>
    </tbody>
  </table>
  </div>
  